@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 80%;
}

.container div {
  width: 100px;
  height: 100px;
}

table {
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  width: 80%;
  background-color: white;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #E2B842;
}
.pic {
  vertical-align: bottom;
  width: 100%;
  height: 100%
}
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* Button 1e */
.btn-1e {
  overflow: hidden;
}

.btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn-1 {
  border: 3px solid #fff;
  color: #fff;
}
.btn-1e:hover,
.btn-1e:active {
  color: #0e83cd;
}

.btn-1e:hover:after {
  height: 260%;
  opacity: 1;
}

.btn-1e:active:after {
  height: 400%;
  opacity: 1;
}
.block{
  border-radius: 25px;
  background: #FFFFFF;
  padding: 20px;
  display: flex;
  width: 60%;
  height: 80%;
  align-content: center;
  justify-content: center;
}

.reversed {
  background-color: rgba(249, 198, 26, 1);
  margin: 0px;
}
.input {
  width: 100%;
  height: 20px;
}
.white-box{
  border-radius: 25px;
  background: #FFFFFF;
  padding: 20px;
  width: 60%;
  height: 80%;
  align-items: center;
}
